@import "../bower_components/bootstrap/less/bootstrap.less";
body {
	padding-top:50px;
	padding-bottom: 80px;
	//background: url('../img/bg2.jpg');
	background: url('../img/use_your_illusion.png');
	//background-size: cover;
	//background-position: center center;
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
	font-size:22px;
}
.navbar {
	//background: #fff;
}
.container {
	//width:100%;
}
.row {
	padding:20px;
	//margin:0;
}
@media (min-width: @screen-desktop) {
	//.container { max-width: inherit; }
}

@media (min-width: @screen-tablet) and (max-width: @screen-tablet-max) {
	//.container { max-width: inherit; }
}

@media screen and (max-width: 400px) {
}
ul {
	list-style-type: none;
	margin:0;
	padding:0;
}	
ul.details {
	margin:initial;
	padding:initial;
}
.inactive {
	text-decoration: line-through;
}
#quote {

	background-color: white;
	padding:20px;
}
#hello {
	//background:rgba(255,255,255,.5);

}
#about {
	a {
		text-decoration: none;
	}
}
